@model RealTimeTaskManagement.Notification.Twilio.WhatsAppMessagePayLoad
@{
    ViewBag.Title = "Message sender - Twilio";
}



<div class="container mt-5">
    <div class="shadow-sm p-4 mb-4 bg-white rounded">
        <h2 class="mb-4 text-center">Send WhatsApp Message</h2>
        @using (Html.BeginForm("SendWhatsAppNotification", "Twilio", FormMethod.Post))
        {
            <div class="form-group" style="display: none;">
                @Html.LabelFor(model => model.AccountSid, "Account SID:")
                @Html.TextBoxFor(model => model.AccountSid, new { @class = "form-control" })
            </div>

            <div class="form-group" style="display: none;">
                @Html.LabelFor(model => model.AuthToken, "Auth Token:")
                @Html.TextBoxFor(model => model.AuthToken, new { @class = "form-control" })
            </div>

            <div class="form-group" style="display: none;">
                @Html.LabelFor(model => model.FromNumber, "From Number:")
                @Html.TextBoxFor(model => model.FromNumber, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ToNumber, "To Number:")
                @Html.TextBoxFor(model => model.ToNumber, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Message, "Message:")
                @Html.TextAreaFor(model => model.Message, new { @class = "form-control", rows = 4 })
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Send WhatsApp Message</button>
            </div>
        }
    </div>

    <div class="shadow-sm p-4 mb-4 bg-white rounded">
        <h2 class="mb-4 text-center">Send WhatsApp OTP</h2>
        @using (Html.BeginForm("SendMobileOTP", "Twilio", FormMethod.Post))
        {
            <div class="form-group" style="display: none;">
                @Html.LabelFor(model => model.AccountSid, "Account SID:")
                @Html.TextBoxFor(model => model.AccountSid, new { @class = "form-control" })
            </div>

            <div class="form-group" style="display: none;">
                @Html.LabelFor(model => model.AuthToken, "Auth Token:")
                @Html.TextBoxFor(model => model.AuthToken, new { @class = "form-control" })
            </div>

            <div class="form-group" style="display: none;">
                @Html.LabelFor(model => model.FromNumber, "From Number:")
                @Html.TextBoxFor(model => model.FromNumber, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ToNumber, "To Number:")
                @Html.TextBoxFor(model => model.ToNumber, new { @class = "form-control" })
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Send Mobile OTP</button>
            </div>
        }
    </div>
</div>

